<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<!--
   | For more configuration infromation and examples see the Jakarta Log4j
   | owebsite: http://jakarta.apache.org/log4j
 -->

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

  <!-- A time/date based rolling appender -->
  <appender name="FILE" class="org.apache.log4j.RollingFileAppender">
    <param name="File" value="log/default.log"/>
    <param name="Append" value="false"/>
    <layout class="org.apache.log4j.PatternLayout">
      <!-- The default pattern: Date Priority [Category] Message\n -->
      <param name="ConversionPattern" value="%d %-5p [%c] %m%n"/>
    </layout>	    
  </appender>

  <appender name="HIBERNATE" class="org.apache.log4j.RollingFileAppender">
    <param name="File" value="log/hibernate.log"/>
    <param name="Append" value="false"/>
    <param name="MaxBackupIndex" value="1024"/>
    <layout class="org.apache.log4j.PatternLayout">
      <!-- The default pattern: Date Priority [Category] Message\n -->
      <param name="ConversionPattern" value="%d %-5p [%c] %m%n"/>
    </layout>	    
  </appender>

  <!-- ============================== -->
  <!-- Append messages to the console -->
  <!-- ============================== -->

  <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
    <param name="Target" value="System.out"/>
    <param name="Threshold" value="DEBUG"/>

    <layout class="org.apache.log4j.PatternLayout">
      <!-- The default pattern: Date Priority [Category] Message\n -->
<!--      <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p [%c{1}] %m%n"/> -->
      <param name="ConversionPattern" value="%-5p %30.30C{2}.%-20M(%-3L) | %m%n"/>

    </layout>
  </appender>

  <!-- ====================== -->
  <!-- More Appender examples -->
  <!-- ====================== -->

  <!-- Buffer events and log them asynchronously
  <appender name="ASYNC" class="org.apache.log4j.AsyncAppender">
    <appender-ref ref="FILE"/>
    <appender-ref ref="CONSOLE"/>
    <appender-ref ref="SMTP"/>
  </appender>
  -->

  <!-- EMail events to an administrator
  <appender name="SMTP" class="org.apache.log4j.net.SMTPAppender">
    <param name="Threshold" value="ERROR"/>
    <param name="To" value="admin@myhost.domain.com"/>
    <param name="From" value="nobody@myhost.domain.com"/>
    <param name="Subject" value="JBoss Sever Errors"/>
    <param name="SMTPHost" value="localhost"/>
    <param name="BufferSize" value="10"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="[%d{ABSOLUTE},%c{1}] %m%n"/>
    </layout>
  </appender>
  -->

  <!-- Syslog events
  <appender name="SYSLOG" class="org.apache.log4j.net.SyslogAppender">
    <param name="Facility" value="LOCAL7"/>
    <param name="FacilityPrinting" value="true"/>
    <param name="SyslogHost" value="localhost"/>
  </appender>
  -->

  <!-- Log events to JMS (requires a topic to be created)
  <appender name="JMS" class="org.apache.log4j.net.JMSAppender">
    <param name="Threshold" value="ERROR"/>
    <param name="TopicConnectionFactoryBindingName" value="java:/ConnectionFactory"/>
    <param name="TopicBindingName" value="topic/MyErrorsTopic"/>
  </appender>
  -->

  <!-- ================ -->
  <!-- Limit categories -->
  <!-- ================ -->

	<category name="org.hibernate">
		<priority value="INFO"/>
<!--    		<appender-ref ref="HIBERNATE"/> -->
	</category>

	<category name="hu.bogar.anti">
		<priority value="DEBUG"/>
	</category>

  <!-- ======================= -->
  <!-- Setup the Root category -->
  <!-- ======================= -->
  <root>
    <appender-ref ref="CONSOLE"/>
    <!--<appender-ref ref="FILE"/>-->
  </root>

</log4j:configuration>
